<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RoboVision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F684CFDC1D0D93EB007B40F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F684CFF01D0D93ED007B40F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F684CFFB1D0D93ED007B40F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
