<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>470603434966-o9gbt9uraht82vkjl43sv23641kkt31j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470603434966-o9gbt9uraht82vkjl43sv23641kkt31j</string>
	<key>API_KEY</key>
	<string>AIzaSyDY67O0gDNVXChD_8AwnzFG7jXKEGUp1go</string>
	<key>GCM_SENDER_ID</key>
	<string>470603434966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sovicx.GuideBot</string>
	<key>PROJECT_ID</key>
	<string>project-6533194313020070507</string>
	<key>STORAGE_BUCKET</key>
	<string>project-6533194313020070507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:470603434966:ios:5d30dfaa843fb7fc</string>
	<key>DATABASE_URL</key>
	<string>https://project-6533194313020070507.firebaseio.com</string>
</dict>
</plist>